<div
    class="backgroundDiv">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img style="padding-top:5px;" width="33" height="33"
                viewBox="0 0 33 35" fill="none"
                src="assets/icon-2-removebg-preview.svg">
        </ng-template>
        <ng-template pTemplate="end">
            <div class="glowyText">Netflix Search</div>
        </ng-template>

    </p-menubar>
    @if (TypeOfScreen) {}
    <div class="textAndBtnsDiv">
        <div
            class="textDiv">
            <h1 class="h1Text">Netflix Search</h1>
            <span class="spanText">Netflix database search engine</span>
        </div>
        <div class="btnsDiv"> <p-button routerLink="/movies"  label="Movies"></p-button>
            <p-button label="Series" routerLink="/series"></p-button>
        </div>
    </div>
</div>
<app-random-shows>